extends layout

block content
  h1= title
  h3 Simplify and manage communications with your students and their parents.

  script.
    var signIn = function() {
      var form = document.createElement('form');
      form.setAttribute('method', 'GET');
      form.setAttribute('action', '/authenticate');

      document.body.appendChild(form);
      form.submit();
    }

    var goToStudents = function() {
      var form = document.createElement('form');
      form.setAttribute('method', 'GET');
      form.setAttribute('action', '/students');

      document.body.appendChild(form);
      form.submit();
    }
  
  div(class="button-collection")
    button(class="login-button" onClick='signIn()')= signInText
    button(class="login-button" onClick='goToStudents()') View students in your classroom
