extends layout

block content
  h1= title
  h3 This is a tool that will show you a consolidated view of assignments on Google Classroom and provide a simplified way to alert parents about upcoming or unfinished assignments.
