* {
  box-sizing: border-box;
  color: #18181a;
}

body {
  background-color: #5dc9a8c2;
  background-image: url('../images/background.png');
  margin: 0;
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 20px;
}

a {
  color: #00B7FF;
}